.mufa{
  color: red;
}
*{
  background-color: black ;
}
.inputs1{
  background-color: rgb(230, 240, 230);
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin-top: 50px;
  border:  2px solid rgb(187, 20, 20);
}
.inputs1:hover{
  background-color: rgb(5, 249, 5);
  width: 220px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  top: 20px;
  border:  2px solid rgb(49, 3, 3);
}
.inputs2{
  background-color: rgb(242, 247, 242);
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  top: 20px;
  border:  2px solid rgb(187, 20, 20);
}
.inputs2:hover{
  background-color: rgb(8, 241, 8);
  width: 220px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  top: 20px;
  border:  2px solid rgb(49, 3, 3);
}
.inputs3{
  background-color: rgb(245, 248, 245);
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  top: 20px;
  border:  2px solid rgb(187, 20, 20);
}
.inputs3:hover{
  background-color: rgb(8, 247, 8);
  width: 220px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  top: 20px;
  border:  2px solid rgb(49, 3, 3);
}